// Todo move this out to app style file
$color-bg-main: #a3d8b2;
$color-bg-panel: #f8f8f8;
$color-text-on-light-bg: black;
$color-border: #ddd;

.page-root, .page, section.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;

  .pusher-top {
    height: 3em;
  }

  .pusher-bottom {
    height: 3.5em;
  }
}

.topcoat-navigation-bar {
  z-index: 13;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

footer {
  background: red;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: $color-bg-panel;
  text-align: right;
  border-top: 1px solid $color-border;
  z-index: 110;
}