$root: '../../';

@font-face {
  font-family: "Source Sans";
  src: url($root + 'font/SourceSansPro-Regular.otf');
}

@font-face {
  font-family:"Source Sans";src:url($root + 'font/SourceSansPro-Light.otf');
  font-weight:200;
}

@font-face {
  font-family:"Source Sans";src:url($root + 'font/SourceSansPro-Semibold.otf');
  font-weight:600;
}

body {
//  font: 16px "Source Sans",helvetica,arial,sans-serif;
  font-family: "Helvetica Neue",helvetica,arial,sans-serif;
  font-weight: normal;
  font-size: 14px;
}

// Icons

@font-face {
  font-family: 'icomoon';
  src:url($root + 'font/icon/icomoon.eot?-oocreo');
  src:url($root + 'font/icon/icomoon.eot?#iefix-oocreo') format('embedded-opentype'),
  url($root + 'font/icon/icomoon.woff?-oocreo') format('woff'),
  url($root + 'font/icon/icomoon.ttf?-oocreo') format('truetype'),
  url($root + 'font/icon/icomoon.svg?-oocreo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bin:before {
  content: "\e9ac";
}