.list-item-input {
  position: relative;

  span.icon {
    position: absolute;
    z-index: 110;
    top: 0.6em;
    right: 0.5em;
    color: $color-text-on-light-bg;
    opacity:0.2
  }
}

util-list {
  display: block;
  background: white;
  overflow-x: auto;
  border: 1px solid #ddd;
  border-radius: 4px;

  row {
    display: block;
    position: relative;
    z-index: 110;
    padding: 0.5em;

    &:not(:last-child) {
      border-bottom: 1px solid #ddd;
    }

    .list-item-input span.icon {
      top: 0;
      right: 0;
    }
  }

  label {
    font-weight: 500;
    line-height: 16px;
    font-size: 15px;
    margin-bottom: 6px;
  }

  p {
    line-height: 1.2;
    font-size: 13px;
    margin: 0.3em 0 0.3em 0;
  }
}

.tap-area {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}