schedule {
  display: block;
  float: right;

  .day-short {
    margin-right: 2px;
  }

  .today {
    text-decoration: underline;
  }

  .scheduled {
    font-weight: bold;
  }

  .accomplished {
    color: green;
  }

  .failed {
    color: red;
  }
}