<section class="content page-home" xmlns="http://www.w3.org/1999/html">
  <div class="grid-whole">

    <ons-list class="plan-list">
      <ons-list-item modifier="chevron" class="plan" ng-repeat="mUserGoal in model.cUserGoal.JSON">
        <ons-row>
          <ons-col width="50px" class="plan-left">
            <!--<div class="plan-date">5:30 PM</div>-->
            <!--<div class="plan-duration">1h</div>-->
            <span class="icon icon-bin" ng-click="removeUserGoal(mUserGoal.id)"></span>
          </ons-col>

          <ons-col width="6px" class="plan-center">
            <progressbar m-user-goal="mUserGoal"></progressbar>
          </ons-col>

          <ons-col class="plan-right">
            <div class="plan-name">{{mUserGoal.name}}</div>

            <div class="plan-info description">
              <ons-icon icon="fa-lightbulb-o align"></ons-icon>{{mUserGoal.description}}
            </div>
            <div class="plan-info sub next-step">
              <ons-icon icon="fa-thumbs-o-up align"></ons-icon>{{getNextStep(mUserGoal.cStep).description}}
            </div>

            <div class="plan-info sub">
              <i class="fa fa-line-chart align"></i></ons-icon>
              <span class="progress">Progress: {{$parent.getProgress(mUserGoal)}}</span>
              <schedule m-user-goal="mUserGoal"></schedule>
            </div>

            <div class="tap-area"
                 ng-click="goToUserGoalDetail(mUserGoal.id)"
            ></div>
          </ons-col>
        </ons-row>
      </ons-list-item>

    </ons-list>

  </div>

  <div class="grid-whole padded-inner center empty-list"
       ng-show="model.cUserGoal.JSON.length === 0">
    <span>Hi! Im Adam, your virtual coach.</span>
    <img src="image/coach-main.jpg" alt="benjamin-disraeli"/></br>
    <p>Its time to make things happen! Set as many goals you like and I make sure you don't make standard mistakes. I walk you through the steps and help you build the right attitude to achieve all your goals.</p>
  </div>
  <div class="grid-whole pusher-bottom"></div>
</section>

<footer class="grid-whole padded">
  <button class="button--large--cta"
          ui-sref="add-new-goal.introduction"
  >Set New Goal</button>
</footer>