<!DOCTYPE html>
<!--<html manifest="manifest.php">-->
<html>
<head>
  <title>Angular App Boilerplate</title>

  <link rel="stylesheet" href="lib/vendor/onsen/onsenui.css">
  <link rel="stylesheet" href="lib/vendor/onsen/onsen-css-components-blue-basic-theme.css">
  <link rel="stylesheet" href="lib/vendor/font_awesome/css/font-awesome.css"/>
  <link rel="stylesheet" href="stylesheet/css/stylesheet/style.css">

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />

  <!--<script type="text/javascript" charset="utf-8" src="cordova.js"></script>-->

  <script data-main="main" src="lib/vendor/require.js"></script>
  <script data-main="main" src="lib/vendor/jquery.js"></script>

  <style type="text/css">

  </style>

</head>
<body ng-controller="CtrlApp">

<ons-sliding-menu main-page="page.html" menu-page="menu.html" max-slide-distance="260px" type="push" var="menu">
</ons-sliding-menu>

<ons-template id="page.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="menu.toggleMenu()">
          <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center" ng-click="$log.debug('pageManager', pageManager)">{{pageManager.title}} </div>
    </ons-toolbar>

    <div ui-view class="page-root"></div>

  </ons-page>
</ons-template>

<ons-template id="menu.html">
  <ons-page modifier="menu-page">
    <ons-toolbar modifier="transparent">
      <div class="right">
        <ons-toolbar-button class="menu-closeMenu" ng-click="menu.closeMenu()">
          </ons-icon>Close
        </ons-toolbar-button>
      </div>
    </ons-toolbar>

    <ons-list class="menu-list">
      <ons-list-item class="menu-item" ng-click="menu.goToPage('home')">
        <ons-icon icon="fa-lightbulb-o"></ons-icon>
        My Goals
      </ons-list-item>

      <ons-list-item class="menu-item" ng-click="menu.goToPage('add-new-goal')">
        <ons-icon icon="fa-plus"></ons-icon>
        Set New Goal
      </ons-list-item>
    </ons-list>

    <br>

    <ons-list class="bottom-menu-list">
      <ons-list-item class="bottom-menu-item" ng-click="menu.goToPage('setting')">
        Settings
      </ons-list-item>

      <ons-list-item class="bottom-menu-item" ng-click="menu.goToPage('about')">
        About
      </ons-list-item>
    </ons-list>

  </ons-page>
</ons-template>

<alert></alert>

</body>
</html>