.list-time-and-location {
  textarea {
    margin-top: 8px;
  }

  .day {
    margin: 8px 0 5px 0;
    display: block;
    width: 100%;

    select {
      display: block;
      width: 100%;
    }
  }
}

.quote {
  text-align: center;
  padding: 25px 0;
}

.textarea, .textarea--transparent {
  font-size: 15px;
}