<select ng-model="hourSelected"
        ng-options="opt as opt.label for opt in listHour"
        ng-change="callCallback()"
></select>
<span>:</span>
<select ng-model="minSelected"
        ng-options="opt as opt.label for opt in listMinute"
        ng-change="callCallback()"
></select>