<section class="content page-review" xmlns="http://www.w3.org/1999/html">
  <div class="grid-whole padded">
    <p class="short-description">
      Its time to do your weekly review, what went wrong, what could you do better next week.
    </p>

    <label>Last Week</label>
    <hr/>
    <p>This is what you thought went wrong last week, and wanted to do to improve it. Did it work? If not put it down in the following section again.</p>

    <util-list>
      <row>
        <div class="list-item-input">
          <label>This is what went wrong last week.</label>
          <textarea elastic
                    rows="1"
                    class="textarea textarea--transparent"
                    placeholder="Put it down here.."
                    ng-model="model.mReviewLastOne.wentWrong"
                    disabled
                  ></textarea>
        </div>
      </row>
      <row>
        <div class="list-item-input">
          <label>This is what were you going to do to improve it.</label>
          <textarea elastic
                    rows="1"
                    class="textarea textarea--transparent"
                    placeholder="Put it down here.."
                    ng-model="model.mReviewLastOne.whatDifferent"
                    disabled
                  ></textarea>
        </div>
      </row>
    </util-list>

    <br/>

    <label>This Week</label>
    <hr/>
    <util-list>
      <row>
        <div class="list-item-input">
          <label>What went wrong this week?</label>
          <textarea elastic
                    rows="1"
                    class="textarea textarea--transparent"
                    placeholder="Put it down here.."
                    ng-model="model.mReview.wentWrong"
                    ng-blur="model.cReview.check()"
                  ></textarea>
        </div>
      </row>
      <row>
        <div class="list-item-input">
          <label>What are you going to do different next week?</label>
          <textarea elastic
                    rows="1"
                    class="textarea textarea--transparent"
                    placeholder="Put it down here.."
                    ng-model="model.mReview.whatDifferent"
                    ng-blur="model.cReview.check()"
                  ></textarea>
        </div>
      </row>
    </util-list>
  </div>
</section>

<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ng-click="back(model.mUserGoal.id)"
  >Back</a>
  <a class="pure-button pure-button-primary"
     ng-click="done(model.mUserGoal.id)"
  >Done</a>
</footer>