<div ng-show="visible">
  <div class="alert-dialog-mask"></div>
  <div class="alert-dialog">
    <div class="alert-dialog-content">
      <div class="alert-dialog-title">{{title}}</div>

      <div class="alert-dialog-content">
        {{text}}
      </div>
    </div>

    <div class="alert-dialog-footer" ng-show="type == 'simple'">
      <button class="alert-dialog-button alert-dialog-button--primal">OK</button>
    </div>

    <div class="alert-dialog-footer alert-dialog-footer--one" ng-show="type == 'cancelOk'">
      <button class="alert-dialog-button alert-dialog-button--one" ng-click="cancel()">Cancel</button>
      <button class="alert-dialog-button alert-dialog-button--primal alert-dialog-button--one" ng-click="ok()">Ok</button>
    </div>
  </div>
</div>