<section class="content page-about" xmlns="http://www.w3.org/1999/html">
  <div class="grid-whole padded">
    <div class="grid-whole padded-sides">
      <p>
        There are plenty of books on how to get structured, and ton of best practices but most people fail at applying those best practises. I thought why not focuse on this area and help people where only a cough could help.</br>
        </br>
        Apps are very popular and potentially app users haven't even read about the consepts I've implemented, but thats all right. Start doing the right things and results will follow and if you are still interested why some approach is better than others you can learn about it later.</br>
        </br>
        Most people just need someone, who sits down with them and asks them right questions. They already know the answers, they just dont act accordingly. This app holds them accountable to their own advice. This is what a couch is for but this app can do that for you.</br>
        </br>
        I dont want to deceive anyone, the strategies I've implement here are not mein. These are from lot more accomplished people like, Timothy Ferriss, Daniel Priestley, Tony Robbins and the list goes on. Give credit to them, I've only took whats out there and turned it into this app.</br>
      </p>
    </div>
  </div>
</section>

<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ui-sref="home"
          >Back</a>
</footer>