.page-goal-detail {
  background: #ffffff;

  .fa-lightbulb-o {
    color: #25a6d9;
  }

  .head {
    .ons-icon {
      font-size: 4em;
      margin: 14px 11px;
    }

    ons-icon, div {
      display: block;
      float: left;
    }

    div {
      max-width: 80%;
    }
  }

  h5 {
    color: rgb(37, 166, 217);
    font-size: 17px;
  }

  i {
    color: #208fbb;
  }

  .list-item-container {
    line-height: 1;
    padding: 15px 0px 15px 15px;
  }

  .thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
  }

  .name {
    line-height: 16px;
    font-size: 15px;
    margin-bottom: 6px;
  }

  .location {
    font-size: 14px;
    opacity: 0.4;
    margin-bottom: 6px;
  }

  .desc {
    line-height: 1.2;
    font-size: 13px;

    &.time-alloc {
      display: block;
      width: 70%;
      float: right;
      margin-top: 3px;
    }
  }

  .checkbox {
    position: absolute;
    top: 4px;
    right: 7px;
  }

  .schedule {
    .today {
      background: lightblue;
    }

    .accomplished {
      background: lightgreen;
    }

    .failed {
      background: lightcoral;
    }

    button {
      i {
        color: white;
      }
    }
  }

  .tip {
    padding: 10px;
    line-height: 18px;
    font-size: 13px;

    i {
      font-size: 22px;
    }
  }
}