<button class="button--large--cta"
        ng-click="turnOnOff()"
>
  <i class="fa fa-clock-o"></i>&nbsp;{{buttonLabel}}

  <span ng-show="inProgress">
    (&nbsp; {{timeElapsed}} &nbsp;)
  </span>
</button>