<section class="content page-goal-detail">
  <div class="head grid-whole padded-vertical">
    <ons-icon icon="fa-lightbulb-o" class="ons-icon fa-lightbulb-o fa fa-lg"></ons-icon>
    <div>
      <h5>{{model.mUserGoal.name}}</h5>
      <p>{{model.mUserGoal.description}}</p>
    </div>
  </div>

  <div class="grid-whole">
    <ons-list class="list ons-list-inner"
              ng-show="model.mUserGoal.cReason.JSON.length"
            >
      <ons-list-header class="list__header ons-list-header-inner">Inspiration</ons-list-header>

      <ons-list-item ng-repeat="reason in model.mUserGoal.cReason.JSON"
                     class="list__item list-item-container ons-list-item-inner"
              >
        <i class="fa fa-fire"></i>
        <span class="desc">&nbsp;&nbsp;{{reason.description}}</span>
      </ons-list-item>
    </ons-list>

    <ons-list class="list ons-list-inner"
              ng-show="model.mUserGoal.tipVisible"
              ng-click="hideTip()"
    >
      <ons-list-header>Tips</ons-list-header>
      <ons-list-item class="tip">
        <i class="fa fa-close"></i> Don't reinvent the wheel. Think about who has done what you are about to do and talk to him or her.
      </ons-list-item>
    </ons-list>

    <ons-list class="list ons-list-inner">
      <ons-list-header class="list__header ons-list-header-inner">Steps</ons-list-header>

      <ons-list-item ng-repeat="step in model.mUserGoal.cStep.JSON"
                     class="list-item-container list__item ons-list-item-inner"
      >
        <div class="name">
          <i class="fa fa-thumbs-o-up"></i>&nbsp;&nbsp;{{step.description}}
        </div>
        <div class="desc"
             ng-show="step.reward"
        >
          <i class="fa fa-birthday-cake"></i>&nbsp;&nbsp;{{step.reward}}
        </div>

        <label class="checkbox">
          <input type="checkbox"
                 ng-model="step.isDone"
                 ng-blur="model.mUserGoal.cStep.check()"
                 ng-click="showCongrat(step)"
          >
          <div class="checkbox__checkmark"></div>
        </label>

      </ons-list-item>
    </ons-list>

    <ons-list class="schedule list ons-list-inner"
              ng-show="model.mUserGoal.cTimeAndLocation.JSON.length"
    >
      <ons-list-header class="list__header ons-list-header-inner">Schedule</ons-list-header>

      <ons-list-item ng-repeat="mTimeAndLocation in model.mUserGoal.cTimeAndLocation.JSON"
                     class="list__item list-item-container ons-list-item-inner"
                     ng-class="getDayStyle(mTimeAndLocation.day)"
      >
        <i class="fa fa-calendar"></i>
        <span class="desc">&nbsp;&nbsp;{{mTimeAndLocation.day}}</span>
        <span class="desc time-alloc">
          &nbsp;&nbsp;|&nbsp;&nbsp;
          {{addZero(mTimeAndLocation.fromHour)}}:{{addZero(mTimeAndLocation.fromMin)}}
          -
          {{addZero(mTimeAndLocation.toHour)}}:{{addZero(mTimeAndLocation.toHour)}}
          &nbsp;&nbsp;|&nbsp;&nbsp;
          {{mTimeAndLocation.location}}
        </span>
      </ons-list-item>

      <div class="grid-whole padded-inner">
        <div class="grid-two-thirds padded-right">
          <track-time c-track-record="model.mUserGoal.cTrackRecord"></track-time>
        </div>
        <div class="grid-third">
          <button class="button--large--cta"
                  ng-click="goToTrackRecord(model.mUserGoal.id)"
          ><i class="fa fa-clock-o"></i>&nbsp;History</button>
        </div>
      </div>
    </ons-list>

    <ons-list class="list ons-list-inner">
      <ons-list-header class="list__header ons-list-header-inner">Improve Your Chances</ons-list-header>

      <ons-list-item  class="list__item list-item-container ons-list-item-inner"
                      modifier="chevron"
                      ng-click="goToListTimeframe()"
              >
        <i class="fa fa-calendar"></i>
        <span class="desc">&nbsp;&nbsp;Time Allocation</span>
      </ons-list-item>

      <ons-list-item  class="list__item list-item-container ons-list-item-inner"
                      modifier="chevron"
                      ng-click="goToReasons()"
              >
        <i class="fa fa-fire"></i>
        <span class="desc">&nbsp;&nbsp;Inspiration</span>
      </ons-list-item>

      <ons-list-item  class="list__item list-item-container ons-list-item-inner"
                      modifier="chevron"
                      ng-click="goToRewards()"
      >
        <i class="fa fa-birthday-cake"></i>
        <span class="desc">&nbsp;&nbsp;Rewards</span>
      </ons-list-item>
    </ons-list>

    <div class="grid-whole padded-inner">
      <button class="button--large--cta"
              ng-click="editUserGoal()"
      >Edit Details</button>
    </div>

  </div>
  <div class="grid-whole pusher-bottom"></div>
</section>
<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ui-sref="home"
  >Back</a>
</footer>