<section class="content page-introduction">
  <div class="grid-whole padded-inner">
    <p class="quote">
      "Setting goals is the first step in </br>turning the invisible into the visible."</br>
      - Tony Robbins
    </p>
    <p>
      Complete the following steps to get a better understanding of your goal and get a better chance to achieve it.
      Think about it for a sec, if you don't have the time or patience to complete the following steps, you don't have time or endurance to achieve your goal.
    </p>
  </div>
  <div class="grid-whole padded center">
    <a class="button--large--cta"
       ng-click="createNewGoal()"
    >Start</a>
  </div>
  <div class="psuher-bottom"></div>
</section>

<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ui-sref="home"
  >Back</a>
  <a class="pure-button pure-button-primary"
     ng-click="createNewGoal()"
  >Start</a>
</footer>