<section class="content page-reward">
  <div class="grid-whole padded-inner">
    <p>
      Treat yourself. Take a look at your milestones and come up with a reward for every milestone you've got. When you achieve a milestone you reward yourself with a prize. Prize can be big or small its up to you but it has to be inspiring.
    </p>

    <util-list>
      <row ng-repeat="step in model.mUserGoal.cStep.JSON">
        <label>{{$index + 1}}. Step</label>
        <p>{{step.description}}</p>
        <textarea elastic
                  rows="1"
                  placeholder="Reward comes here.."
                  class="textarea textarea--transparent"
                  ng-model="step.reward"
                  ng-blur="model.mUserGoal.cStep.check()"
        ></textarea>
      </row>
    </util-list>
  </div>
  <div class="grid-whole pusher-bottom"></div>
</section>
<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ng-click="goToUserGoalDetail(model.mUserGoal.id)"
  >Back</a>
  <a  class="pure-button pure-button-primary"
      ng-click="goToUserGoalDetail(model.mUserGoal.id)"
  >Done</a>
</footer>