<section class="content page-steps">
  <div class="grid-whole padded-inner">
    <p>
      Your goal is probably more complex than a single item in a todo list. Now define the steps how to complete your goal. Thinks about the steps again, whether any of them can be broken down to more steps. If so, go ahead and do it!
    </p>

    <util-list>
      <row ng-repeat="step in model.mUserGoal.cStep.JSON">
        <div class="list-item-input">
          <label>{{$index + 1}}. Step</label>
          <textarea elastic
                    rows="1"
                    class="textarea textarea--transparent"
                    placeholder="Step comes here.."
                    ng-model="step.description"
                    ng-blur="model.mUserGoal.cStep.check()"
          ></textarea>
          <span class="icon icon-bin" ng-click="removeStep(step.id)"></span>
        </div>
      </row>
    </util-list>

    <div class="grid-whole padded-vertical">
      <button class="button--large--cta" ng-click="addEmptyStep()">Add More Step</button>
    </div>
  </div>
  <div class="grid-whole pusher-bottom"></div>
</section>
<footer class="grid-whole padded">
  <a ui-sref="add-new-goal.definition" class="pure-button pure-button-secondary">Back</a>
  <a ui-sref="home" class="pure-button pure-button-primary">Finish</a>
</footer>