<section class="content page-list-timeframe">
  <div class="grid-whole padded-inner">
    <p class="quote">
      "We are what we repeatedly do."</br>
      - Will Durant
    </p>
    <p>
      Think about your daily routines and block out the time frames when you work on your goal without interruption. If you don't do so, you always gonna have something more important to do.</br>
      Define the place as well, where you can focus on your goal. You need to separate your environments! If you work on your goal at home, rest assured you will be interrupted, or you will find something else that you forgot and needs to be done very quickly of course.
    </p>

    <util-list class="list-time-and-location">
      <row ng-repeat="mTimeAndLocation in model.cTimeAndLocation.JSON">
        <div class="list-item-input">
          <label>From</label>
          <time   model-hour="mTimeAndLocation.fromHour"
                  model-min="mTimeAndLocation.fromMin"
                  callback="model.cTimeAndLocation.check()"
          ></time>
          <label>&nbsp;&nbsp;To</label>
          <time   model-hour="mTimeAndLocation.toHour"
                  model-min="mTimeAndLocation.toMin"
                  callback="model.cTimeAndLocation.check()"
                  ></time>
          <span class="icon icon-bin" ng-click="removeTimeAndLocation(mTimeAndLocation.id)"></span>
        </div>
        <div>
          <ng-select  class="day"
                      options="['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']"
                      selected="mTimeAndLocation.day"
                      callback="model.cTimeAndLocation.check()"
          ></ng-select>
        </div>
        <div>
          <textarea elastic
                    class="textarea"
                    rows="1"
                    placeholder="Place to work on your goal.."
                    ng-model="mTimeAndLocation.location"
                    ng-blur="model.cTimeAndLocation.check()"
          ></textarea>
        </div>
      </row>
    </util-list>

    <div class="grid-whole padded-vertical">
      <button class="button--large--cta"
              ng-click="addEmptyTimeAndLocation()"
      >Add New Time & Place</button>
    </div>
  </div>
  <div class="grid-whole pusher-bottom"></div>
</section>
<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ng-click="goToUserGoalDetail(model.mUserGoal.id)"
  >Back</a>
  <a  class="pure-button pure-button-primary"
      ng-click="goToUserGoalDetail(model.mUserGoal.id)"
  >Done</a>
</footer>