<section class="content page-reason">
  <div class="grid-whole padded-inner">
    <p class="quote">
      "In the lower state of energy you will doubt everything."</br>
      - Tony Robbins
    </p>
    <p>
      So sometimes you need inspiration to put you back on the right track. Think about it for a second, what are the reasons you want to achieve this goal? What do you want to change or what do you fear will happen unless you change something? What positive impact this goal can lead to when you achieve it? Try to come up with more positive reasons than negative if possible. Think about what its like when you achieve your goal and put these thoughts and reasons down here.
    </p>

    <util-list>
      <row ng-repeat="reason in model.mUserGoal.cReason.JSON">
        <div class="list-item-input">
          <label>{{$index + 1}}. Reason</label>
          <textarea elastic
                    rows="1"
                    class="textarea textarea--transparent"
                    placeholder="Put down your reason here.."
                    ng-model="reason.description"
                    ng-blur="model.mUserGoal.cReason.check()"
                  ></textarea>
          <span class="icon icon-bin" ng-click="removeReason(reason.id)"></span>
        </div>
      </row>
    </util-list>

    <div class="grid-whole padded-vertical">
      <button class="button--large--cta" ng-click="addEmptyReason()">Add More Reason</button>
    </div>
  </div>

  <div class="grid-whole pusher-bottom"></div>
</section>
<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ng-click="goToUserGoalDetail(model.mUserGoal.id)"
  >Back</a>
  <a class="pure-button pure-button-primary"
     ng-click="goToUserGoalDetail(model.mUserGoal.id)"
  >Done</a>
</footer>