<section class="content page-definition">
  <div class="grid-whole padded-inner">
    <p>
      Define your goal on a high level. Dont go to Deep this time, few sentences are enough.
    </p>
    <util-list>
      <row>
        <input type="text"
               placeholder="Goal Name"
               class="text-input--transparent"
               ng-model="model.mUserGoal.name"
               ng-blur="model.cUserGoal.check()"
                />
      </row>
      <row>
        <textarea elastic
                  class="textarea textarea--transparent"
                  rows="4"
                  placeholder="Describe your Goal in few sentences.."
                  ng-model="model.mUserGoal.description"
                  ng-blur="model.cUserGoal.check()"
                >High Level Definition</textarea>
      </row>
    </util-list>
  </div>

  <div class="grid-whole pusher-bottom"></div>
</section>
<footer class="grid-whole padded">
  <a ui-sref="add-new-goal.listStep" class="pure-button pure-button-primary">Next</a>
</footer>